* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
     font-size: 1rem !important;
}

.my_container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 85%, rgba(0, 229, 160, 1) 85%);
    background-repeat: no-repeat;
    
}
h5 {
    font-size: 1rem;
}

.soft_grey_icons {
    color: #949494;
}

/* 🔴 fixare altezze */
.main {
    
    background-size: cover;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
    /* height: calc(100% - 195px); */
    /* height: 80vh; */
}
/* 🔴 */
.my_left_header {
    background-color: rgb(212, 212, 212);
    height: 65px
}
/* 65+80+50 */
.my_avatar {
    border-radius: 50%;
    width: 60px;
    padding: 0.5rem;
}
.my_notifies_area > a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 1.9rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.fa-bell-slash {  
    color:#8edbfd; 
}
/* 🔴 */
.my_notifies_area {
    height: 80px;
    background-color: #8edbfd;
}
/* 🔴 */
.my_users {
    max-height: 45rem;
    overflow-y: scroll;
}
.my_single_user {
    cursor: pointer;
}
:hover.my_single_user {
    background-color: #fdfdfd;
}
.my_single_user_avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0.5rem;
}
.my_search_area {
    height: 50px;
}

.my_single_user_details p{
    color: #7a7a7a;
}
.active {
    background-color: rgb(255, 255, 255);
}
/* tutti gli users che non hanno visibleOn devono essere rossi/nascosti */
.my_users > :not(.visibleOn) { 
    /* color: rgb(237, 15, 15) ; */
    display:none !important;
}
/* 🔴 */
.my_left_container {
    height: 80vh;
}
/* right side */
/* 🔴 */
.my_right_container {
    height: 80vh;
}
/* 🔴 */
.my_right_header {
    background-color: aliceblue;
    height: 65px;
}
/* 🔴 */
.my_chat_area {
    background-image: url(../img/mine.jpg);
    max-height: calc(100% - 145px) ;
    height: 100%;
    overflow-y: auto;
    /* height: 80vh; */
    /* chiedere ❌⭕ */
}
.my_message {
    height: 3rem;
    width: 75%;
}
/* 🔴 */
.my_users {
    height: calc(100% - 195px);
    overflow-y: auto;
}
.my_user_message {
    width: 50%;
    
}
.sent {
    background-color: #fffefe;
    padding: 1rem;
    padding-bottom: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    border-radius: 15px;
}

.received {   
    margin-left: auto;
    background-color: #d5f9ba;
    padding: 1rem;
    padding-bottom: 0.8rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    border-radius: 15px;
}

.my_message_input_area {
    height: 75px;
}
.my_msg_data {
    text-align: end;
    color: #949494;
    font-size: small;
}
.my_arrow {
   position: relative;
}
.my_arrow:hover i{
    transform: rotate(90deg);
}
.my_dropdown {
    
    background-color: white;  
    padding: 0.8rem;
    cursor: pointer;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    width: 150px;
    -webkit-box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.41);
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;  
}
.my_arrow:hover .my_dropdown {
    display: block;
}
