* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(195, 195, 195);

}

.main {
    position: relative;
    top: -50px;
}

.header {
    background-color: rgb(26, 201, 161);
    height: 100px;
}

.main {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    /* height: 80vh; */
}

.my_left_header {
    background-color: rgb(212, 212, 212);
}

.my_avatar {
    border-radius: 50%;
    width: 60px;
    padding: 0.5rem;
}
.fa-bell-slash {
    background-color:white;
    color:#8edbfd;
    border-radius: 50%;
    padding: 1rem;
}
.my_notifies_area {
    background-color: #8edbfd;
}