* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(195, 195, 195);

}
.soft_grey_icons {
    color: #949494;
}

.main {
    position: relative;
    top: -50px;
}

.header {
    background-color: rgb(26, 201, 161);
    height: 100px;
}

.main {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
}


.my_left_header {
    background-color: rgb(212, 212, 212);
}

.my_avatar {
    border-radius: 50%;
    width: 60px;
    padding: 0.5rem;
}
.fa-bell-slash {
    background-color:white;
    color:#8edbfd;
    border-radius: 50%;
    padding: 1rem;
}
.my_notifies_area {
    background-color: #8edbfd;
}
.my_single_user_avatar {
    border-radius: 50%;
        width: 60px;
        padding: 0.5rem;
}
/* right side */
.my_chat_area {
    background-image: url(../img/mine.jpg);
    max-height: 70rem;
    overflow-y: scroll;
}
.my_message {
    height: 3rem;
    width: 75%;
}
.my_users {
    max-height: 61rem;
        overflow-y: auto;
}
.my_user_message {
    width: 50%;
}
.sent {
    background-color: #fffefe;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    border-radius: 15px;
}

.received {   
    margin-left: auto;
    background-color: #d5f9ba;
    padding: 1.5rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    border-radius: 15px;
}